<div class="contact-form">
  <%= form_with model: @contact, url: :contact do |form| %>
    <p class="title">お問い合わせ</p>
    <div class="field">
      <%= form.label :name, value="名前", class: "label" %>
      <%= form.text_field :name, class: "text-field" %>
    </div>
    <div class="field">
      <%= form.label :email, value="メールアドレス", class: "label" %>
      <%= form.text_field :email, class: "text-field" %>
    </div>
    <div class="field">
      <%= form.label :message, value="お問い合わせ内容", class: "label" %>
      <%= form.text_area :message, class: "text-field" %>
    </div>
    <div class="btn-area">
      <%= form.submit "送信", class: "submit-btn" %>
    </div>
  <% end %>
</div>
