<h1>edit</h1>
<%= form_with(model: @items, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :detail %>
    <%= form.text_area :detail %>   
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>