<% @items.each do |item|%>
  <div>--------------------------</div>
  <div>name:<%= item.name %></div>
  <div>detail:<%= item.detail %></div>
  <div>user_id:<%= item.user_id %></div>
  <div>created_at:<%= item.created_at %></div>
  <div>updated_at:<%= item.updated_at %></div>
<% end %>


