<h1>NEW</h1>
<%= form_with(model: @items) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :detail %>
    <%= form.text_area :detail %>   
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>