<!DOCTYPE html>
<html>
  <head>
    <title>Ecsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="logo">LOGO</div>
      <nav>
        <li class="menu-item"><%= link_to 'ホーム', root_path %></li>
        <li class="menu-item"><%= link_to 'マイリスト', '/items/index' %></li>
        <li class="menu-item"><%= link_to 'ログイン', new_user_session_path %></li>
        <li class="menu-item"><%= link_to("ログアウト", destroy_user_session_path, method: :delete )%></li>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <ul class="footer-menu">
          <li><a href="/contact">お問い合わせ</a></li>
          <li><a href="/tos">利用規約</a></li>
          <li><a href="/personal_information">個人情報</a></li>
          <li><a href="/sitepolicy">サイトポリシー</a></li>
      </ul>
      <p class="copyright">
        © 2023 EC site Co.,Ltd. All Rights Reserved.
      </p>
    </footer>



  </body>
</html>
